/* Style Outside Views */

body {
	background: url(../images/pinstripe-brown.jpg) 0 0 repeat;
	color: #542201;
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: 'Abril Fatface', cursive;
}

h1 {
	font-size: 4.6vmax;
	margin: 3vmin;
}

h3 {
	text-align: center;
	font-size: 1.6vmax;
	margin: 0.5vmin;
}

header {
	height: 35%;
}

#decorative-wood {
	background: url('../images/top-bar-wood.jpg') 0 0 repeat;
	min-height: 10%;
}

footer {
	height: 5%;
	color: #c7a27e;
	display: flex;
	align-items: center;
	justify-content: space-around;
	background: url(../images/top-bar-wood.jpg) 0 0 repeat;
}

footer a {
	color: #fce7cb;
}

/* Style in full-list View */

#title {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 1vmin;
}

#title img {
	width: 12%;
}

.img-responsive {
	max-width: 100%; 
	height: auto;
}

#content-container {
	background: url('../images/pinstripe-cream.jpg') 0 0 repeat;
	height: 60%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#beer-list {
	display: flex;
	flex-direction: row;
	align-items: center;
	overflow-y: scroll;
	max-width: 80%;
	min-height: 98%;
}

.beer-list-item {
	padding-top: 2vmin;
	min-width: 18vmax;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.beer-title {
	padding-bottom: 0.6vmin;
	text-decoration: underline;
	font-size: 1vmax;
	text-align: center;
}

.beer-list-item img {
	border-radius: 20px;
	border: solid #6f4529 4px;
}

.beer-thumb-img a {
	display: flex;
	justify-content: center;
	align-items: center;
}

.beer-thumb-img>a>img {
	width: 90%;
}

/* Style for Beer Details View */

#beer-details-container {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: stretch;
	justify-content: center;
}

#beer-details-container img {
	width: 20%;
	margin: auto;
	border-radius: 20px;
	border: solid #6f4529 4px;
	max-height: 90%;
}

.beer-details {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 40%;
	margin: 4vmin 0;
}

.beer-details h2 {
	text-decoration: underline;
	font-size: 1.6vmax;
}

.beer-details p {
	font-size: 1.2vmax;
	margin: 0;
}

.store-locator {
	text-align: center;
	width: 30%;
	margin-top: 4vmin;
}

.store-locator p {
	margin: 10px 0;
	font-size: 1.2vmax;
}

.store-locator button,
.store-locator input {
	font-size: 0.8vmax;
}

.store-locator-results-item {
	margin-top: 1.5vmin;
	font-size: 1vmax;
}

/* Media Queries */

@media only screen and (max-device-width: 1024px) {
	/* Style Outside Views */
	header {
		height: 25%;
	}

	h3 {
		font-size: 2vmax;
	}

	#content-container {
		height: 70%;
	}

	footer div {
		text-align: center;
		padding: 0 20px;
		font-size: 1.6vmax;
	}

	/* Style in full-list View */

	.beer-title {
		padding-bottom: 2vmin;
		text-decoration: underline;
		font-size: 1.4vmax;
	}

	/* Style for Beer Details View */

	#beer-details-container img {
		width: 25%;
	}

	.beer-details h2 {
		font-size: 2vmax;
	}

	.beer-details p,
	.store-locator p {
		font-size: 1.6vmax;
	}

	.store-locator button, .store-locator input {
		font-size: 1.2vmax;
	}

	.store-locator-results-item {
		font-size: 1.4vmax;
	}
}

@media only screen and (max-device-width: 450px) {
	/* Style Outside Views */
	header {
		height: 20%;
	}

	body {
		height: 100vh;
	}

	#decorative-wood {
		min-height: 10px;
	}

	#content-container {
		align-items: baseline;
		height: 75%;
		padding-bottom: 20px;
		overflow-x: scroll;
	}

	/* Style in full-list View */

	#beer-list {
		flex-direction: column;
		overflow-x: scroll;
	}

	.beer-title {
		font-size: 2.2vmax;
	}

	/* Style for Beer Details View */


	.beer-details {
		width: 50%;
		margin: auto;
	}

	.beer-details p {
		font-size: 1.4vmax;
	}

	#beer-details-container {
		padding: 1vmin 0;
		align-items: baseline;
		flex-wrap: wrap;
	}

	#beer-details-container img {
		width: 40%;
	}

	.store-locator {
		margin: 0;
		width: 90%;
	}
	
	.store-locator-results {
		height: 100%;
		display: flex;
		justify-content: space-around;
	}
}